/* Font */

@font-face {
	font-family: "BebasNeue";
	src: url(../fonts/BebasNeue-Regular.woff) format("woff");
}

/* Style Utama */
body {
	font: 18px/36px "BebasNeue", "Arial Narrow", arial, sans-serif;
	background-color: #ddd;
}

h1 {
	font-size: 80px;
	text-align: center;
	margin: 50px 0px;
	text-shadow: 1px 1px 1px white;
}

.container {
	width: 600px;
	background-color: white;
	margin: auto;
	padding: 30px;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.gallery li {
	width: 120px;
	height: 120px;
	/* overflow: hidden; */
	border: 5px solid #666;
	float: left;
	margin-right: 20px;
	position: relative;
}

.clear {
	clear: both;
}

.gallery li,
.gallery li a img,
.gallery li span {
	border-radius: 50%;
}

.gallery li span {
	display: block;
	width: 120px;
	height: 120px;
	background-color: rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0px;
	text-align: center;
	line-height: 120px;
	color: #333;
	text-shadow: 1px 1px 1px #ddd;
	opacity: 0;
	transition: 0.3s;
	transform: scale(0) rotate(0);
}

.gallery li a:hover span {
	opacity: 1;
	transform: scale(1) rotate(360deg);
}
