/* Font */

@font-face {
	font-family: "BebasNeue";
	src: url(../fonts/BebasNeue-Regular.woff) format("woff");
}

/* Style Utama */
body {
	font: 18px/36px "BebasNeue", "Arial Narrow", arial, sans-serif;
	background-color: #ddd;
}

h1 {
	font-size: 80px;
	text-align: center;
	margin: 50px 0px;
	text-shadow: 1px 1px 1px white;
}

.container {
	width: 600px;
	background-color: white;
	margin: auto;
	padding: 30px;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.gallery li {
	width: 120px;
	height: 120px;
	/* overflow: hidden; */
	border: 5px solid #666;
	float: left;
	margin-right: 20px;
	position: relative;
}

.clear {
	clear: both;
}

.gallery li,
.gallery li a img,
.gallery li span {
	border-radius: 50%;
}

.gallery li span {
	display: block;
	width: 120px;
	height: 120px;
	background-color: rgba(200, 200, 200, 0.5);
	position: absolute;
	top: 0px;
	text-align: center;
	line-height: 120px;
	color: #333;
	text-shadow: 1px 1px 1px #ddd;
	opacity: 0;
	transition: 0.3s;
	transform: scale(0) rotate(0);
}

.gallery li a:hover span {
	opacity: 1;
	transform: scale(1) rotate(360deg);
}

/* Overlay */
.overlay {
	width: 0px;
	height: 0px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	z-index: 9999;
	transition: 0.8s;
	padding: 100px 0;
	text-align: center;
}

.overlay:target {
	width: auto;
	height: auto;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
}

.overlay img {
	max-height: 100%;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.overlay:target img {
	animation: zoomDanFade 1s;
}

.overlay .close {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -20px;
	background-color: black;
	text-decoration: none;
	color: white;
	line-height: 14px;
	border: 1px solid white;
	padding: 5px;
	opacity: 0;
}

.overlay:target .close {
	animation: slideDownFade 0.5s 0.5s forwards;
}

/* animasi */

@keyframes zoomDanFade {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes slideDownFade {
	0% {
		opacity: 0;
		margin-top: -20px;
	}
	100% {
		opacity: 1;
		margin-top: 0;
	}
}
